.content {
	width: 500px;
	margin: 0 auto;
}

div#center {
	text-align: center;
} 

form {
	background-color: #003333;
	color: white;
	padding: 10px;
}

.top-area  { 
	position: relative; 
	width: 100%;
}

h1 { 
	color: #DDDDDD; 
	font-size: 72px;
   	position: absolute; 
   	top: 200px; 
   	left: 0; 
   	width: 100%; 
}

h2 span { 
   
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   padding: 10px; 
}
