.content {
	width: 500px;
	margin: 0 auto;
}

div#center {
	text-align: center;
} 

form {
	background-color: #003333;
	color: white;
	padding: 10px;
}

.top-area  { 
	position: relative; 
	width: 100%; 
}

h1 { 
	color: #DDDDDD; 
	font-size: 72px;
   	position: absolute; 
   	top: 30%; 
   	width: 100%;
   	letter-spacing: -1px;  
    padding: 10px; 
}
